.div-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-top: 30px;
    padding: 0 !important;
}

.input-name{
    display: inline-block;
    width: 488px;
    height: 73px;
    flex-shrink: 0;
    margin-right: 70px;
}
.mesagge {
    width: 1057px;
    height: 226px;
    flex-shrink: 0;   
    resize: none; 
}

fieldset{
    border: none;
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    padding-bottom: 15px;

}

input, textarea {
    border-radius: 10px;
}

.inputs {
    margin-top: 15px;
}

textarea {
    resize:none;
}

.formColor {
    background: linear-gradient(315deg, rgba(15, 48, 85, 0.329) 15%, rgba(16, 58, 114, 0.24) 100%);
    color: white 
}