.div-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-top: 150px;
    padding: 0 !important;
}

.input-name{
    display: inline-block;
    width: 488px;
    height: 73px;
    flex-shrink: 0;
    margin-right: 70px;
}
.mesagge {
    width: 1057px;
    height: 226px;
    flex-shrink: 0;   
    resize: none; 
}

fieldset{
    border: none;
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    padding-bottom: 15px;
}

input, textarea {
    border-radius: 10px;
}

.inputs {
    margin-top: 15px;
}