.footer-sup {
    box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.4);
}

.icons > a {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.icons i {
    font-size: 35px;
}

.p-4{
    margin-top: 200px;
    left: 0;
    top: 0;
    z-index: 1000;
}

