.bgc{
  background: linear-gradient(315deg, rgba(12,22,34,1) 0%, rgba(9,34,63,1) 15%, rgba(12,22,34,1) 49%, rgba(5,29,58,1) 82%, rgba(12,22,35,1) 100%);

}

.cont {
  background: #0c1622 ;
}

.sect {
  padding-bottom: 148px;
}
  
.titulo {
  font-family: 'Morganite', sans-serif;
  font-weight: 500;
  font-size: 100px;
}

@media screen  and (max-width: 1440px){
  h3 {
    font-size: 25px;
  }
}

@media screen  and (max-width: 1024px){
  h3 {
    font-size: 18px;
  }
}

.img-proyec {
    --box-sizing: 350px;
    width: 100%;
    height: var(--box-sizing);
}

.iconos-lenguajes {
    --box-sizing: 120px;
    width: var(--box-sizing);
    height: var(--box-sizing);
    padding: 1px;
}

.zoom-container {
    position: relative;
    overflow: hidden;
    
  }
  
  .zoom-container img {
    transition: transform 0.3s;
  }
  
  .zoom-container:hover img {
    transform: scale(1.1);
  }
  
  .zoom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .zoom-container:hover .zoom-overlay {
    opacity: 1;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .icon-link {
    color: white;
    font-size: 44px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .zoom-container:hover .icon-link {
    color: #ffca28;
  }