.div-habilidades {
    margin-top: 80px;
}


.img-proyec {
    --box-sizing: 350px;
    width: 100%;
    height: var(--box-sizing);
    padding: 10px;
    
}

.iconos-lenguajes {
    --box-sizing: 120px;
    width: var(--box-sizing);
    height: var(--box-sizing);
}

.zoom-container {
    position: relative;
    overflow: hidden;
  }
  
  .zoom-container img {
    transition: transform 0.3s;
  }
  
  .zoom-container:hover img {
    transform: scale(1.1);
  }
  
  .zoom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .zoom-container:hover .zoom-overlay {
    opacity: 1;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .icon-link {
    color: white;
    font-size: 44px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .zoom-container:hover .icon-link {
    color: #ffca28;
  }