body {
    display: block;
    margin: 0;
}

a {
  color: inherit;
}


.navbar-main {
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  background: rgb(12,22,34) !important;
}

nav ul {
  gap: 1rem;
}

.nav-indicator a {
  color: white !important;
  padding:20px;
  text-decoration: none;
  margin:0 6px;
  z-index: 1;
  font-family:'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  transition: all .5s ease !important;
}

.nav-indicator a:hover {
  color: rgb(0, 119, 199) !important;
}


#Habili {
  padding-top: 43px; 
}

#Contact {
  padding-top: 60px;
}

#Proye {
  padding-top: 55px;
}

.logo {
  width: 90px;
  height: auto; 
}